.sidebar {
  width: 250px;
  padding: 20px;
  background-color: white;
  border-right: 1px solid #ddd;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section div {
  margin-top: 6px;
}

.search-box {
  padding: 6px 10px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ccc;
}
