.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #005596;
  padding: 10px 20px;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 1000;
}

.navbar-left{
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.logo {
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}

.navbar-links li {
  position: relative;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 8px;
  transition: background 0.3s ease;
}

.navbar-links a:hover {
  background-color: #0071b6;
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  top: 26px;
  left: 0;
  background-color: white;
  color: #333;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  min-width: 150px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.dropdown a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background 0.3s ease;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.navbar-icons a {
  margin-left: 10px;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-icons a:hover {
  color: #f0c040;
}
